# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- Python
- SQL
- R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. SciPy

| Data Science Tools |
|--------------------|
| Apache Spark       |
| Jupyter Notebook   |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [23]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

This will convert 200 minutes to hours by diving by 60

In [36]:
200/60

3.3333333333333335

## Author
Ashraf Peck